<h3>Menu</h3>
<div>
<h3>Veg Pizzas</h3>    
<ul>
<li><a ui-sref="pizzas_detail({id: 1})"> Classic Cheese</a></li>
<li><a ui-sref="pizzas_detail({id: 2})"> Maragarita</a></li>
<li><a ui-sref="pizzas_detail({id: 3})"> Paneer</a></li>
</ul>
</div>  


<div>
<h3>Non-Veg Pizzas</h3>
<ul>
<li><a ui-sref="pizzas_detail({id: 4})"> Chicken </a></li>
<li><a ui-sref="pizzas_detail({id: 5})"> Tandoori Chicken </a></li>
</ul>    
</div>

<div>
<h3>Create Your Own Pizza</h3>
  <button ui-sref="pizzas_detail({id: 6})">Customize</button>
</div>